@page  "/"
@model Reservation.Frontend.Pages.ReservationForm

<markdown>
    <div class="h4">Rezerwacja online na wymianę opon lub usługę klimatyzacji</div>
</markdown>

<div class="border rounded p-4" id="reservationForm">
     @{ await Html.RenderPartialAsync("_TyreChangeForm", Model); }
</div>