@using Reservation.Frontend.Models

@{
    if (ViewData["loadFirst"] is null)
    {
        Html.RenderPartial("_MenuNavOob", new MenuNav()
        {
            TyreChangeSelected = false,
            AirconditionSelected = true,
        });
    }
}

<div>
    form
     <div class="mt-2">
        </div>
</div>