@model Reservation.Frontend.Models.TyreChangeReservationFormModel

@Html.LabelFor(x => x.CarNumber, new {@class = "form-label"})
<input asp-for="CarNumber" type="text" class="form-control" />
@{
    if (Model.IsPost)
    {
        <span asp-validation-for="CarNumber" class="text-danger"></span>
    }
}