@using Reservation.Frontend.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Reservation.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body data-bs-theme="dark">

<div class="container">
    <main role="main" class="pb-3">
        <markdown>
            <div class="h4 text-center alert alert-info">Rezerwacja online na wymianę opon lub usługę klimatyzacji</div>
        </markdown>
        <div class="error-toast">
            @{ await Html.RenderPartialAsync("_Toast"); }
        </div>
        <nav id="menu-nav" class="nav nav-tabs justify-content-center">
            @{ await Html.RenderPartialAsync("_MenuNav", new MenuNav()
               {
                   TyreChangeSelected = true,
                   AirconditionSelected = false,
               }); }
        </nav>
        <div class="page-content">
            @RenderBody()
        </div>
    </main>
</div>


<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.12/signalr.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>