@model Reservation.Frontend.Models.TyreChangeReservationFormModel
@{
    var isDisabled = Model.PossibleLocations.Count == 0;
}

@Html.LabelFor(x => x.Location, new {@class = "form-label"})
<select asp-for="Location"
        asp-items="Model.PossibleLocations"
        class="form-select"
        hx-get
        hx-controller="ReservationForm"
        hx-action="LocationChanged"
        disabled="@isDisabled"
        hx-target="#date-and-time"
        hx-swap="outerHTML">
</select>
@{
    if (Model is {IsPost: true,Location: 0})
    {
        <span asp-validation-for="Location" class="text-danger"></span>
    }
}
