@model Reservation.Frontend.Models.BaseReservationFormModel

<div id="date-and-time" class="row justify-content-center">
    <div class="row mt-2" id="reservation-date">
        @{ await Html.RenderPartialAsync("_TyreChangeReservationDate", Model); }
    </div>
    <div class="row mt-2" id="reservation-time">
        @{ await Html.RenderPartialAsync("_TyreChangeReservationTime", Model); }
    </div>
</div>

@if (Model.Location is not null)
{
    <div id="location-map" hx-swap-oob="true">
        <div>
            @await Component.InvokeAsync("ReservationDate", new { locationId = Model.Location})
        </div>
    </div>
}