@model Reservation.Backend.Models.WebReservationResponse

<div class="row ">Rezerwacja zakończona pomyślanie :)</div>
<div class="row">@Model.ChangeDate</div>
<div class="row">@Model.CarModel</div>
<div class="row">@Model.CarNumber</div>
