@using Reservation.Frontend.Models
@model Reservation.Frontend.Models.TyreChangeReservationReservationFormModel

@{
    if (ViewData["loadFirst"] is null)
    {
        await Html.RenderPartialAsync("_MenuNavOob", new MenuNav()
        {
            TyreChangeSelected = true,
            AirconditionSelected = false,
        });
    }
}

<form hx-post
      hx-controller="TyreChangeReservation"
      hx-action="OnPostSubmit"
      hx-target="#reservationForm"
      hx-swap="innerHTML"
      class="form-container needs-validation"
      novalidate
      _="on htmx:beforeSend set #reservationFormBtn.disabled to 'disabled'">
    <div class="mt-2">
        @{ await Html.RenderPartialAsync("_LocationSelector", Model); }
    </div>

    @{ await Html.RenderPartialAsync("_ReservationDate", Model); }

    <div class="row justify-content-center">
        <div class="mt-2">
            @{ await Html.RenderPartialAsync("_CarModel", Model); }
        </div>
        <div class="mt-2">
            @{ await Html.RenderPartialAsync("_CarNumber", Model); }
        </div>
        <div class="mt-2">
            @{ await Html.RenderPartialAsync("_CarTypeSelector", Model); }
        </div>
        <div class="mt-2">
            @{ await Html.RenderPartialAsync("_WheelTypeSelector", Model); }
        </div>
        <div class="mt-2">
            @{ await Html.RenderPartialAsync("_OrderTypeSelector", Model); }
        </div>
        <div class="mb-3 mt-2">
            @{ await Html.RenderPartialAsync("_DepositNumber", Model); }
        </div>

        <div class="row">
            <button id="reservationFormBtn" type="submit" class="btn btn-primary" disabled="disabled">
                <span class="htmx-indicator">
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                    <span class="visually-hidden">Loading...</span>
                </span>
                Zarejestruj
            </button>
            @Html.AntiForgeryToken()
        </div>
    </div>
</form>