@using System.Diagnostics
@model Reservation.Frontend.Models.TyreChangeReservationFormModel
@{
    Debug.Assert(Model != null);
    var isDisabled = Model.PossibleHours.Count == 0;
}
@Html.LabelFor(x => x.ReservationTime, new {@class = "form-label"})
<select
    asp-for="ReservationTime"
    asp-items="Model.PossibleHours"
    class="form-select"
    disabled="@isDisabled">
</select>
@{
    if (Model.IsPost)
    {
        <span asp-validation-for="ReservationTime" class="text-danger"></span>
    }
}