@model Reservation.Frontend.Pages.ReservationForm

<select asp-for="Location"
        asp-items="Model.PossibleLocations" 
        class="form-select"
        hx-get
        hx-page="ReservationForm"
        hx-page-handler="Dates"
        hx-target="#reservationForm"
        hx-swap="outerHTML">
</select>
<div class="invalid-feedback">
    <span asp-validation-for="Location"></span>
</div>        

