@model Reservation.Frontend.Pages.ReservationForm

<select
    asp-for="ReservationTime"
    asp-items="Model.PossibleHours"
    id="reservationTime"
    class="form-control">
</select>
<div class="invalid-feedback">
    <span asp-validation-for="ReservationTime"></span>
</div>