@model Reservation.Frontend.Pages.ReservationForm

<form hx-post
      hx-page="ReservationForm"
      hx-page-handler="Submit"
      hx-target="#reservationForm"
      hx-swap="innerHTML"
      class="form-container needs-validation"
      novalidate
      _="on htmx:beforeSend set #reservationFormBtn.disabled to 'disabled'">
    <div class="row">
        @{ await Html.RenderPartialAsync("_LocationSelector", Model); }
    </div>
    <div class="row" id="reservationDate">
        @{ await Html.RenderPartialAsync("_TyreChangeReservationDate", Model); }
    </div>
    <div class="row" id="reservationTime">
        @{ await Html.RenderPartialAsync("_TyreChangeReservationTime", Model); }
    </div>
    <div class="row">
        @{ await Html.RenderPartialAsync("_CarModel", Model); }
    </div>
    <div class="row">
        @{ await Html.RenderPartialAsync("_CarNumber", Model); }
    </div>
    <div class="row">
        @Html.LabelFor(x => x.CarType, new {@class = "form-label"})
        @{ await Html.RenderPartialAsync("_CarTypeSelector", Model); }
    </div>
    <div class="row">
        @Html.LabelFor(x => x.WheelType, new {@class = "form-label"})
        @{ await Html.RenderPartialAsync("_WheelTypeSelector", Model); }
    </div>
    <div class="row">
        @Html.LabelFor(x => x.OrderType, new {@class = "form-label"})
        @{ await Html.RenderPartialAsync("_OrderTypeSelector", Model); }
    </div>
    <div class="row mb-3">
        @{ await Html.RenderPartialAsync("_DepositNumber", Model); }
    </div>
    <div class="row">
        <button id="reservationFormBtn" type="submit" class="btn btn-primary" disabled="disabled">
            <span class="loading-indicator">
                <span class="spinner-border spinner-border-sm" role="status"></span>
                <span class="visually-hidden">Loading...</span>
            </span>
            Zarejestruj
        </button>
        @Html.AntiForgeryToken()
    </div>
</form>

