@model Reservation.Frontend.Pages.ReservationForm
@{
    System.Diagnostics.Debug.Assert(Model != null);
    var isDisabled = Model.PossibleDates.Count == 0;
}
@Html.LabelFor(x => x.ReservationDate, new {@class = "form-label"})
<select asp-for="ReservationDate"
        asp-items="Model.PossibleDates"
        hx-get
        hx-page="ReservationForm"
        hx-page-handler="TimeSlots"
        hx-swap="innerHTML"
        hx-include="[name='Location']"
        hx-target="#reservationTime"
        disabled="@isDisabled"
        class="form-select">
</select>
@{
    if (Model.IsPost)
    {
        <span asp-validation-for="ReservationDate" class="text-danger"></span>
    }
}