:root {
  --toast-max-width: 450px;
  --mjpRed: #dd111f;
  --mjpRedish: #ff0000;
  --mjpBlack: #000000;
  --mjpWhite: #ffffff;
  --mjpInfo: #006dcc;
  --mjpGrey: #e5e5e5;
  --mjpFormBackground: #f5f5f5;
  --mjpError: #dd111f;
  --mjpColor: #777;
  --mjpColorSecondary: #FFF;
  --mjpSuccess: #79af5d;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.invalid-feedback {
  display: block;
}

.page-content {
  display: flex;
  min-height: 45rem;
}

.left-panel {
  /*border: 1px solid var(--bs-gray-200);*/
  padding: 1rem;
}

.right-panel {
  display: none;
}

@media (min-width: 1024px) {
  .page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    min-height: 50rem;
  }

  .right-panel {
    display: block;
  }
}

#location-map {
  transition-property: all;
  transition-delay: 1s;
  animation: animate-image 1s linear;
}

@keyframes animate-image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast {
  width: var(--toast-max-width);
}

.size-auto {
  width: auto;
}

.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 0 auto;
}
.checkmark-wrapper {
  border-radius:200px;
  height:200px;
  width:200px;
  background: #F8FAF5;
  margin:0 auto;
  position: relative;
}

i {
  color: var(--mjpSuccess);
  font-size: 7rem;
  line-height: 200px;
  position: absolute;
  left: 60px;
}

.mjp-alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px;
}
