@model Reservation.Frontend.Models.TyreChangeReservationFormModel

<markdown>
    <div class="h4 text-center">Rezerwacja online na wymianę opon lub usługę klimatyzacji</div>
</markdown>


<div class="error-toast">
    @{ Html.RenderPartial("_Toast"); }
</div>
<div class="page-content">
    <div class="left-panel" id="reservationForm">
        @{ await Html.RenderPartialAsync("_TyreChangeForm", Model); }
    </div>
    <div class="right-panel">
        <div id="location-map">
        </div>
    </div>
</div>
