@model Reservation.Frontend.Models.TyreChangeReservationFormModel

<markdown>
    <div class="h4 text-center">Rezerwacja online na wymianę opon lub usługę klimatyzacji</div>
</markdown>

<div class="border rounded p-4" id="reservationForm">
     @{ await Html.RenderPartialAsync("_TyreChangeForm", Model); }
</div>